.help-container {
  position: absolute;
  right: 1.5rem;
  bottom: 5rem;
  background-color: white;
  width: 400px;
  border-radius: 15px;
}

.help-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 1rem;
}

.help-title {
  font-weight: bold;
}

.close-icon {
  color: black;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}

.close-icon:hover {
  opacity: 1;
  transition: 0.2s;
}

.help-content {
  margin: 0 1rem 0 1rem;
}
