.die {
  background-color: white;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85px;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: outset 5px;
}

.die-roll {
  animation: roll 1s;
  /* transform: rotate(360deg);
  transition: transform 1s; */
}

.die-img {
  width: 75px;
}

@keyframes roll {
  0% {
    transform: translateY(0) rotate(720deg);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}
