/* .die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 3rem;
  height: 3rem;
  list-style-type: none;
  transform-style: preserve-3d;
}

.die-item {
  background-color: white;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  padding: 1rem;
} */
