.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  background: #f5cac3;
  border-radius: 15px;
  width: 100%;
  height: 500px;
}

.spot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: double 5px #caa56c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0.5rem;
}

.symbol {
  width: 100px;
}

.bets {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 15px;
  row-gap: 15px;
}

/* Mobile Responsive */
@media screen and (max-width: 750px) {
  .board-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: auto;
    height: auto;
  }

  .spot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: double 3px #caa56c;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
  }

  .symbol {
    width: 75px;
  }
}

@media screen and (max-width: 1012px) {
  .spot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: double 3px #caa56c;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
  }

  .symbol {
    width: 100px;
  }
}
