.game-board-container {
  width: 900px;
  height: 500px;
  background: #f5cac3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  border-radius: 15px;
}

.spot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  border: double 5px #caa56c;
}

.bets {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 15px;
  row-gap: 15px;
}

.symbol {
  width: 100px;
}
