.game-board-container{
  flex-grow: 0.4;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
/* GAME MAIN - BOARD
-------------------------------------------*/
.game-choose{
  flex-grow: 0.6;
  width: 100%;
  background: pink;
  display: flex;
  justify-content: space-evenly;
}
.animals{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1rem;
}
.button-container{
  flex: 0 0 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.button-container > button{
  cursor: pointer;
  flex: 1 0 33.33%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 1rem;
}
.button-container > button:hover{
  background-color: #c9c9c9;
}
.button-select{
  border: blue solid;
}

.animal-img{
  height: 75px;
  width: 75px;
}
.game-bet{
  background: white;
  flex:0.2 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bet-options{
  flex: 0.5 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bet-buttons{
  flex: 0.5 0 50%;
}
.bet-animal{
  flex: 0.5 1 auto;
  display: flex;
  flex-direction: column;
}
.plus-or-minus{
  flex: 1 1 auto;
  display: flex;
  margin: 5px;
}
.plus-or-minus > button{
  width: 100%;
  margin: 1px;
  outline: none;
  border: none;
}
.plus-button{
  background: #666666;
}
.minus-button{
  background-color: #e2e0e0;
}
.minus-select{
  background-color: #666666;
}
.plus-select{
  background-color: #e2e0e0;
}

.bet-animal > p{
  text-align: center;
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.bet-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bet-buttons > button{
  flex: 1 1 33.33%;
  outline: none;
}
.bet-buttons > button:hover{
  background-color: #c9c9c9;
}