.message{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .5em 0 .5em 5px;
  background-color:#dfdfdf;
}
.alternate{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .5em 0 .5em 5px;
}
.message-content{
  width: 100%;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.scroll-chat {
  height: 530px;
  overflow: auto;
}

.scroll-chat::-webkit-scrollbar{
  width: 12px;
}
.scroll-chat::-webkit-scrollbar-track{
  background: red;
}