@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background: #88181b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
