@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background: #88181b;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
p,
div {
  user-select: none;
}
