.game-page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.mini-logo-wrapper {
  width: 100%;
  margin-top: 2rem;
}

.mini-logo {
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: 1rem;
}

#overlay {
  position: fixed;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

/* Chat Button */
.chat-btn-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#chat-btn {
  color: white;
  filter: drop-shadow(0 0 2px black);
  margin-top: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#chat-btn:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

/* CSS Transition Group */
.round-modal-enter {
  opacity: 0%;
  transform: translate(-50%, -50%);
}
.round-modal-enter-active {
  transform: translate(-50%, -50%);
  opacity: 100%;
  transition: 0.3s;
}
.round-modal-enter-done {
  transform: translate(-50%, -50%);
  opacity: 1000%;
}
.round-modal-exit {
  transform: translate(-50%, -50%);
  opacity: 100%;
}
.round-modal-exit-active {
  transform: translate(-50%, -50%);
  opacity: 0%;
  transition: 0.3s;
}

@media screen and (max-width: 650px) {
  .game {
    flex-direction: column;
  }

  .game-board {
    margin: 0;
  }
}
