.game-page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.chat-button {
  color: white;
  cursor: pointer;
  font-size: 40px;
}

.main-board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px;
}

.bottom-half {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.game-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  border: solid 1px;
}
.game-header-container,
.game-main-container {
  display: flex;
  justify-content: space-between;
}

.game-main-container {
  flex-direction: column;
  height: 700px;
  max-height: 700px;
  margin-bottom: 1rem;
}

/* GAME HEADER
-------------------------------------------*/
.game-header-container .game-leave {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-header-container .game-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ingame-leave {
  text-decoration: none;
  color: inherit;
}
#ingame-leave p {
  color: white;
  font-size: 24px;
}
#ingame-leave p:hover {
  transition: all 0.3s, ease-in 0s;
  color: rgb(170, 170, 170);
}
#ingame-logo {
  max-height: 100px;
}

/* MAIN GAME - CONTAINER
-------------------------------------------*/
.game-game-container {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  max-width: 1200px;
}

#round-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* CSS Transition Group */
.modal-round-enter {
  opacity: 0%;
  transform: translate(-50%, -50%);
}
.modal-round-enter-active {
  transform: translate(-50%, -50%);
  opacity: 100%;
  transition: 0.3s;
}
.modal-round-enter-done {
  transform: translate(-50%, -50%);
  opacity: 1000%;
}
.modal-round-exit {
  transform: translate(-50%, -50%);
  opacity: 100%;
}
.modal-round-exit-active {
  transform: translate(-50%, -50%);
  opacity: 0%;
  transition: 0.3s;
}

@media screen and (max-width: 615px) {
  .game-board-container {
    flex-basis: 100%;
  }
  .game-main-container {
    height: 800px;
  }
}
