.gold {
  color: rgb(221, 188, 78);
}

.silver {
  color: rgb(212, 212, 212);
}

.bronze {
  color: rgb(168, 133, 87);
}

.play-again-button {
  color: white;
  background: #caa56c;
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: "Francois One", sans-serif;
  font-size: 24px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.play-again-button:hover {
  background: #ac8c5e;
  transition: 0.3s;
}

.results-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: auto;
}

.results-title {
  color: white;
  text-shadow: 4px 4px #caa56c;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.results {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.player-score {
  display: flex;
  justify-content: space-between;
}

.stat {
  color: white;
  font-size: 30px;
  margin: 0;
}
