.round {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.round-banner {
  color: white;
  text-shadow: 4px 4px #caa56c;
  font-size: 50px;
  font-weight: bold;
}

.times-up-banner {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1rem;
}

.times-up {
  margin: 0;
  color: #fff;
  /* text-shadow: 4px 4px #caa56c; */
  font-size: 40px;
  font-weight: bold;
}

.rolling {
  color: white;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}
