.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-round {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #caa56c;
  margin-left: 2rem;
}

.header-dice {
  display: flex;
  justify-content: center;
}

.header-time {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  box-shadow: 2px 2px #caa56c;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #caa56c;
  width: 75px;
  height: 75px;
  margin-right: 2rem;
}
