.tutorial-card {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 0 3rem 0 3rem;
}

.tutorial-card-icon {
  color: white;
}

.tutorial-card-instruction {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.tutorial-card-description {
  color: #e6e6e6;
  font-size: 18px;
  margin-top: -1rem;
}
