.drawer {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100%;
  padding-bottom: 4rem;
  overflow-y: auto;
}

.drawer-header {
  margin-right: auto;
  margin-left: auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
  max-width: 1100px;
  text-align: center;
}

.drawer-title {
  color: #caa56c;
  letter-spacing: 0.5rem;
  font-size: 90px;
}
.close-icon {
  color: white;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  opacity: 0.5;
  transition: 0.3s;
}

.close-icon:hover {
  opacity: 1;
  transition: 0.3s;
}

.tutorial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .drawer-title {
    color: #caa56c;
    letter-spacing: 0.5rem;
    font-size: 40px;
  }

  .close-icon {
    font-size: 40px;
  }
}
