.players-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 300px;
  height: auto;
  padding: 0.5rem 1rem;
}

.player-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
}

.player-rank {
  font-size: 20px;
}

.player-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-stat-name {
  margin: 0;
}

.player-stat-balance {
  color: #e6e6e6;
  margin: 0;
}

.player-stat-bankrupt {
  color: #dc143c;
  margin: 0;
}

.player-icon {
  position: relative;
}

.check {
  position: absolute;
  color: #a7c957;
  bottom: 0;
  right: -7px;
}

@media screen and (max-width: 650px) {
  .players-container {
    width: auto;
    height: 100%;
    margin-bottom: 1rem;
  }
}
