/* GAME MAIN - PLAYERS
-------------------------------------------*/
.game-players-container{
  flex-grow: 0.4;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color:rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
}
.game-player-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
  flex-wrap: nowrap;
  color: white;
}
.game-player-icon > p{
  text-align: center;
  font-size: 14px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.game-player-total, .game-player-bet{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-player-total > p, .game-player-bet > p{
  text-align: center;
  font-size: 14px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media screen and (max-width:615px){
  .game-players-container{
      display: none;
  }
}